<!DOCTYPE html>
<html>
<head>
    <title>Sports Image Classifier</title>
</head>
<body>
    <h1>Classified Sports Images</h1>
    <table border="1">
        <tr>
            <th>Image</th>
            <th>Source</th>
            <th>Classification</th>
            <th>Timestamp</th>
        </tr>
        {% for row in data %}
        <tr>
            <td><img src="{{ row[0] }}" width="100"></td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
